main .light.franklin-banner-container {
  background-color: #b0c4de99;
}

main .light.franklin-banner-container img {
  margin: 1rem 0;
}

.place-price {
  color: #444;
  display: flex;
  flex-direction: column;
}

.place-price p {
  display: flex;
  gap: 12px;
  margin: 0;
}

.place-price .label {
  font-weight: bold;
}
